---
layout: home
title: Jean-Sébastien Carinos

---
<div class="col-xs-12 col-sm-7">
      
      <div class="box no-print">
        <h2>Welcome</h2>
        <p>
          Hey, welcome to my homepage. I have been lucky to live off my passion since 2005.
          <br/>
          This is a small resume and collection of lessons I learned during my career; mostly focused on how to be a good leader.
        </p>
      </div>

  {% include timeline.html %}
  <div class="box no-print">
  <h2>Lessons learned (blog posts)</h2>

  {% for post in site.posts %}
        <div class="job clearfix">
          <div class="col-xs-5">
            <div class="where"><a href="{{ post.url }}">{{post.title}}</a></div>
          </div>
          <div class="col-xs-7">
            <div class="description">
              <a href="{{ post.url }}" style="color:black"">
                {{ post.excerpt| strip_html | strip_newlines | truncate: 80 }}
              </a>
        
            </div>
          </div>
        </div>

  {% endfor %}
        </div>
</div>
