<div class="box">
  <h2>Skills</h2>
  <div class="skills">

    <div class="item-skills" data-percent="1.00" style="overflow: hidden; width: 100%;">Team management</div>
    <div class="item-skills" data-percent="1.00" style="overflow: hidden; width: 100%;">Engineers Recruitement and
      Training</div>
    <div class="item-skills" data-percent="1.00" style="overflow: hidden; width: 100%;">Product specification,
      Planning</div>
    <div class="item-skills" data-percent="1.00" style="overflow: hidden; width: 100%;">Software development and
      architecture</div>
    <div class="item-skills" data-percent="1.00" style="overflow: hidden; width: 100%;">Natural Language Processing
    </div>
    <!--div class="skills-legend clearfix">
                      <div class="legend-left legend">Beginner</div>
                      <div class="legend-left legend"><span>Proficient</span></div>
                      <div class="legend-right legend"><span>Expert</span></div>
                      <div class="legend-right legend">Master</div>
                    </div-->
  </div>
</div>