<div class="box">
  <h2>Professional Timeline</h2>
  <ul id="education" class="clearfix">
    <li>
      <div class="year pull-left">2016</div>
      <div class="description pull-right">
        <h3>Custeed</h3>
        <p><a href="https://www.imaweb.com/custeed-suite/">https://www.imaweb.com/custeed-suite/</a></p>
        <p>CTO. Transformed a single man workshop to a multi-teams, effective and happy IT department.</p>

        <p>In 2022, Custeed has been acquired by Imaweb group, the european leader in the digitalization of the
          automotive industry.</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2011</div>
      <div class="description pull-right">
        <h3>Qualitri</h3>
        <p>Peruvian outsourcing company</p>
        <p>CTO. Team management, technical consulting, sales and recruitement.</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2006</div>
      <div class="description pull-right">
        <h3>Synomia</h3>
        <p><a href="http://www.synomia.com/en/">http://www.synomia.com/en/</a></p>
        <p>Lead engineer. Worked on big data, search technologies and system architecture.</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2005</div>
      <div class="description pull-right">
        <h3>Orange labs</h3>
        <p><a href="http://www.orange.com/fr/Innovation">http://www.orange.com/fr/Innovation</a></p>
        <p>R&D Internship. Worked on natural language processing and semantic web.</p>
      </div>
    </li>
  </ul>
</div>