<div class="box">
  <h2>What makes me different?</h2>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">You can give me the keys</div>
    </div>
    <div class="col-xs-9">
      <div class="description">
        With more than 10 years as a CTO, I had the chance to face many challenges...and I am always looking for new
        ones!
        I will take care of all the technical issues.

      </div>
    </div>
  </div>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">I will help</div>
    </div>
    <div class="col-xs-9">
      <div class="description">
        As an executive, my main mission is to help, not only my service but the whole company.
        Delivering the best product, creating the best teams, achieving a budget, satisfying the customers etc.
      </div>
    </div>
  </div>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">Passion</div>
    </div>
    <div class="col-xs-9">
      <div class="description">What drives me is passion and luckily my job is my passion. I want to be the best
        profesional I can be and always try improve and learn new things.</div>
    </div>
  </div>
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">I am a developer</div>
    </div>
    <div class="col-xs-9">
      <div class="description">I know how a developer think and what a developer need. So I try everthing to offer to my
        developers a fullfilling and rewarding job.</div>
    </div>
  </div>
</div>