<div class="box clearfix">
  <h2>Contact</h2>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
    <div class="title only pull-right">(+51) 991724456</div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
    <div class="title only pull-right">jscarinos@custeed.com</div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
    <div class="title pull-right">Twitter</div>
    <div class="description pull-right"><a href="https://twitter.com/noxone">https://twitter.com/noxone</a></div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-linkedin  fa-fw"></span></div>
    <div class="title pull-right">LinkedIn</div>
    <div class="description pull-right"><a 
        href="https://www.linkedin.com/in/jean-s%C3%A9bastien-carinos-65a25a43/">https://www.linkedin.com/in/jean-sebastien-carinos</a></div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
    <div class="title pull-right">Github</div>
    <div class="description pull-right"><a href="https://github.com/jscari">https://github.com/jscari</a></div>
  </div>
</div>