<div class="box">
  <h2>Languages</h2>
  <div id="language-skills">
    <div class="skill">French <div class="icons pull-right">
        <div style="width: 100%; overflow: hidden; height: 14px;" class="icons-red"></div>
      </div>
    </div>
    <div class="skill">Spanish <div class="icons pull-right">
        <div style="width: 95%; overflow: hidden; height: 14px;" class="icons-red"></div>
      </div>
    </div>
    <div class="skill">English <div class="icons pull-right">
        <div style="width: 80%; overflow: hidden; height: 14px;" class="icons-red"></div>
      </div>
    </div>
  </div>
</div>